# ignore all 
 and all sub dir 
* 
/*


# but not these files 
!.gitignore

!README.md
!pract1.xise


#and not these subdir's and the files in there 
!/ipcore_dir
!/ipcore_dir/*
!/src
!/src/*


#but still these once 
/src/*.schcmd
/src/*.schbak

