# This file is a general .ucf for Atlys rev C board
# To use it in a project:
# - remove or comment the lines corresponding to unused pins
# - rename the used signals according to the project


# clock pin for Atlys rev C board
NET "sysclk"   LOC = "L15"; # Bank = 1, Pin name = IO_L42P_GCLK7_M1UDM, Type = GCLK, Sch name = GCLK


# onBoard Leds
 NET "Led<0>" LOC = "U18"; # Bank = 1, Pin name = IO_L52N_M1DQ15, 	   Sch name = LD0
 NET "Led<1>" LOC = "M14"; # Bank = 1, Pin name = IO_L53P, 		 	   Sch name = LD1
 NET "Led<2>" LOC = "N14"; # Bank = 1, Pin name = IO_L53N_VREF, 	   Sch name = LD2
 NET "Led<3>" LOC = "L14"; # Bank = 1, Pin name = IO_L61P, 		 	   Sch name = LD3
 NET "Led<4>" LOC = "M13"; # Bank = 1, Pin name = IO_L61N, 		 	   Sch name = LD4
 NET "Led<5>" LOC = "D4";  # Bank = 0, Pin name = IO_L1P_HSWAPEN_0,	   Sch name = HSWAP/LD5
 NET "Led<6>" LOC = "P16"; # Bank = 1, Pin name = IO_L74N_DOUT_BUSY_1, Sch name = LD6
 NET "Led<7>" LOC = "N12"; # Bank = 2, Pin name = IO_L13P_M1_2,		   Sch name = M1/LD7
 
# onBoard PUSH BUTTONS 
 #org NET "btn<0>" LOC = "T15"; # Bank = 2, Pin name = IO_L1N_M0_CMPMISO_2, Sch name = M0/RESET
 NET "RstN" LOC = "T15"; # Bank = 2, Pin name = IO_L1N_M0_CMPMISO_2, Sch name = M0/RESET
 #NET "btn<1>" LOC = "N4";  # Bank = 3, Pin name = IO_L1P, 	   		   Sch name = BTNU
# NET "clk0" LOC = "N4";  # Bank = 3, Pin name = IO_L1P, 	   		   Sch name = BTNU
# NET "clk0" CLOCK_DEDICATED_ROUTE = FALSE;
 #NET "btn<2>" LOC = "P4";  # Bank = 3, Pin name = IO_L2P, 	   		   Sch name = BTNL
 NET "clk1" LOC = "P4";  # Bank = 3, Pin name = IO_L2P, 	   		   Sch name = BTNL
 #NET "clk1" CLOCK_DEDICATED_ROUTE = FALSE;
 #NET "btn<3>" LOC = "P3";  # Bank = 3, Pin name = IO_L2N, 	   		   Sch name = BTND
 #NET "clk3" LOC = "P3";  # Bank = 3, Pin name = IO_L2P, 	   		   Sch name = BTNL
 #NET "clk3" CLOCK_DEDICATED_ROUTE = FALSE;
  #NET "btn<4>" LOC = "F6";  # Bank = 3, Pin name = IO_L55P_M3A13, 	   Sch name = BTNR
 
 
 #NET "btn<5>" LOC = "F5";  # Bank = 3, Pin name = IO_L55N_M3A14, 	   Sch name = BTNC
 
# onBoard SWITCHES
 #NET "sw<0>" LOC = "A10"; # Bank = 0, Pin name = IO_L37N_GCLK12,      	Sch name = SW0
 #NET "sw<1>" LOC = "D14"; # Bank = 0, Pin name = IO_L65P_SCP3,      	Sch name = SW1
 #NET "sw<2>" LOC = "C14"; # Bank = 0, Pin name = IO_L65N_SCP2,      	Sch name = SW2
 #NET "sw<3>" LOC = "P15"; # Bank = 1, Pin name = IO_L74P_AWAKE_1,       Sch name = SW3
 #NET "sw<4>" LOC = "P12"; # Bank = 2, Pin name = IO_L13N_D10,      		Sch name = SW4
 #NET "sw<5>" LOC = "R5";  # Bank = 2, Pin name = IO_L48P_D7,      		Sch name = SW5
 #NET "sw<6>" LOC = "T5";  # Bank = 2, Pin name = IO_L48N_RDWR_B_VREF_2, Sch name = SW6
 #NET "sw<7>" LOC = "E4";  # Bank = 3, Pin name = IO_L54P_M3RESET,       Sch name = SW7

# PMOD Connector

# PMOD Connector
# 1 JA1: T3  JA-D0_N    
# 2 JA2: R3  JA-D0_P    
# 3 JA3: P6  JA-D2_N   PextN[1]
# 4 JA4: N5  JA-D2_P   PextP[1]
# 7 JA7: V9  JA-CLK_N   
# 8 JA8: T9  JA-CLK_P   
# 9 JA9: V4  JA-D1_N   PextN[0]
#10 JA10: T4 JA-D1_P   PextP[0]
#5, 11 : GND 
# 6 ,12 : GND 
# see also fie iotableV3_PCB.ods , tab PMOD_Atlys

# JAx   is pin x on the PMOD connector JB on the ATLYS board 
# between JA-Dx_x  and JAy there is a resistor 


NET "PextP[0]" LOC = N5; # JA_D2_P  ==JA4
NET "PextP[0]" IOSTANDARD = "LVDS_25";
NET "PextP[0]" DIFF_TERM = "TRUE";

NET "PextN[0]" LOC = P6; # JA_D2_N  == JA3 
NET "PextN[0]" IOSTANDARD = "LVDS_25";
NET "PextN[0]" DIFF_TERM = "TRUE";


NET "PextP[1]" LOC = T4; #JA_D1_P == JA10
NET "PextP[1]" IOSTANDARD = "LVDS_25";
NET "PextP[1]" DIFF_TERM = "TRUE";


NET "PextN[1]" LOC = V4; #JA_D1_N = JA9 
NET "PextN[1]" IOSTANDARD = "LVDS_25";
NET "PextN[1]" DIFF_TERM = "TRUE";
 
NET "POUT<0>"  LOC = "V9"; #      Sch name = JA7 
NET "POUT<1>"  LOC = "R3"; #      Sch name = JA2
NET "POUT<3>"  LOC = "T3"; #      Sch name = JA1
NET "POUT<2>"  LOC = "T9"; #      Sch name = JA8
 



#NET "Pext<0>"  LOC = "T3"; # Bank = 2,  Pin name = IO_L62N_D6,     Sch name = JA-D0_N
#NET "Pext<1>"  LOC = "R3"; # Bank = 2,  Pin name = IO_L62P_D5,     Sch name = JA-D0_P

 #NET "JB<0>"  LOC = "T3"; # Bank = 2,  Pin name = IO_L62N_D6,     Sch name = JA-D0_N
 #NET "JB<1>"  LOC = "R3"; # Bank = 2,  Pin name = IO_L62P_D5,     Sch name = JA-D0_P
 #NET "JB<2>"  LOC = "P6"; # Bank = 2,  Pin name = IO_L64N_D9,     Sch name = JA-D2_N
 #NET "JB<3>"  LOC = "N5"; # Bank = 2,  Pin name = IO_L64P_D8,     Sch name = JA-D2_P
 #NET "JB<4>"  LOC = "V9"; # Bank = 2,  Pin name = IO_L32N_GCLK28, Sch name = JA-CLK_N
 #NET "JB<5>"  LOC = "T9"; # Bank = 2,  Pin name = IO_L32P_GCLK29, Sch name = JA-CLK_P
 #NET "JB<6>"  LOC = "V4"; # Bank = 2,  Pin name = IO_L63N,        Sch name = JA-D1_N
 #NET "JB<7>"  LOC = "T4"; # Bank = 2,  Pin name = IO_L63P,        Sch name = JA-D1_P

# onboard VHDCI
# Channnel 1 connects to P signals, Channel 2 to N signals
# connections for the  VmodMIIB  module conneted to a raspberry PI

#NET "CLK1" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "CLK3" CLOCK_DEDICATED_ROUTE = FALSE;

# these are copied from the  spread sheet 

NET "D<1>" LOC = "T11"; #VmodMIPsigname:JA-D0_N
NET "D<0>" LOC = "R11"; #VmodMIPsigname:JA-D0_P
NET "D<7>" LOC = "P11"; #VmodMIPsigname:JA-D2_N
NET "D<6>" LOC = "N10"; #VmodMIPsigname:JA-D2_P


NET "D<2>" LOC = "T10"; #VmodMIPsigname:JA-CLK_N
NET "D<3>" LOC = "R10"; #VmodMIPsigname:JA-CLK_P
NET "D<4>" LOC = "V12"; #VmodMIPsigname:JA-D1_N
NET "D<5>" LOC = "T12"; #VmodMIPsigname:JA-D1_P



NET "GPIO22" LOC = "N9"; #VmodMIPsigname:JB-D0_N
#NET "clk1" LOC = "M10"; #VmodMIPsigname:JB-D0_P
NET "SEL<0>" LOC = "T8"; #VmodMIPsigname:JB-D2_N
NET "SEL<1>" LOC = "R8"; #VmodMIPsigname:JB-D2_P









NET "P<0>" LOC = "V15"; #VmodMIPsigname:JC-D0_N
NET "P<1>" LOC = "U15"; #VmodMIPsigname:JC-D0_P
NET "P<2>" LOC = "N11"; #VmodMIPsigname:JC-D2_N
NET "P<3>" LOC = "M11"; #VmodMIPsigname:JC-D2_P


NET "P<4>" LOC = "V16"; #VmodMIPsigname:JC-CLK_N
NET "P<5>" LOC = "U16"; #VmodMIPsigname:JC-CLK_P
NET "P<6>" LOC = "V13"; #VmodMIPsigname:JC-D1_N
NET "P<7>" LOC = "U13"; #VmodMIPsigname:JC-D1_P



NET "clk3" LOC = "T7"; #VmodMIPsigname:JD-D0_N
#NET "GPIO18" LOC = "R7"; #VmodMIPsigname:JD-D0_P
NET "GPIO15" LOC = "V5"; #VmodMIPsigname:JD-D2_N
NET "GPIO14" LOC = "U5"; #VmodMIPsigname:JD-D2_P

NET "Lid<0>" LOC = "V6"; #VmodMIPsigname:JD-CLK_N
NET "Lid<1>" LOC = "T6"; #VmodMIPsigname:JD-CLK_P
NET "Lid<2>" LOC = "P7"; #VmodMIPsigname:JD-D1_N
NET "Lid<3>" LOC = "N6"; #VmodMIPsigname:JD-D1_P

NET "PoutAdd[0]" LOC = "V8;"; #VmodMIPsigname:JE1
NET "PoutAdd[1]" LOC = "U8;"; #VmodMIPsigname:JE2
NET "PoutAdd[2]" LOC = "N8;"; #VmodMIPsigname:JE7
NET "PoutAdd[3]" LOC = "M8;"; #VmodMIPsigname:JE8
NET "PoutAdd[4]" LOC = "P8;"; #VmodMIPsigname:JE3
NET "PoutAdd[5]" LOC = "V7;"; #VmodMIPsigname:JE9
#NET "PoutAdd[6]" LOC = "N7;"; #VmodMIPsigname:JE4
#NET "PoutAdd[7]" LOC = "U7;"; #VmodMIPsigname:JE10


#end spreadsheet



